* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

body {
    overflow-x: hidden ;
}

/*HEADER SUPERIOR*/
header {
    width: 100%;
    top: 0;
    left: 0;
    background: white;
}

/*HEADER SUPERIOR*/
.header__superior {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    
}

.logo img {
    width: 250px;
}

/*BARRA MENU*/
.container__menu {
    width: 100%;
    height: 70px;
    background: linear-gradient(to top, #ff0000, #000000);
    padding: 0px 20px;
}

.menu {
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

nav {
    height: 100%;
}

nav > ul {
    height: 100%;
    display: flex;
}

nav > ul > li {
    height: 100%;
    list-style: none;
}

nav > ul > li:first-child > a {
    background-image: url(../images/logo-pagina-web-removebg-preview.png);
    background-size: 54px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 40px;
}

nav > ul > li:first-child:hover > a {
    background-image: url(../images/logo-pagina-web-removebg-preview.png);
    background-size: 54px;
    background-repeat: no-repeat;
    background-position: center center;
}

nav > ul > li > a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;
    text-decoration: none;
}

nav > ul > li > a:hover {
    transform: scale(1.1);
    background: rgb(133, 0, 0);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#selected {
    transform: scale(1.1);
    background-color: rgb(133, 0, 0);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/*ELEMENTOS RESPONSIVOS*/

.icon__menu {
    font-size: 26px;
    color: white;
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: none;
    align-items: center;
}

#check__menu {
    display: none;
}

#label__check {
    width: 26px;
    height: 100%;
    display: none;
}


@media screen and (max-width: 720px) { /*Esto es como una condicional, cuando el tamaño de la pantalla llegue a estos pixeles va a ocurrir lo del menu de telefono*/
    .header__superior {
        padding: 10px;
    }

    .logo img {
        width: 200px;
    }

    nav > ul {
        flex-direction: column;
        background: rgb(133, 0, 0);
        position: fixed;
        left: 0;
        top: 70px; /*para aunmentar o disminuir la altura del menu pequeño*/
        width: 100%;
        height: 0px;
        transition: all 300ms ease;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
    }

    nav > ul > li > a:hover {
        transform: scale(1);
    }

    #selected {
        transform: scale(1);
    }

    #label__check {
        display: block;
    }

    .icon__menu {
        display: flex;
    }

    #check__menu:checked ~ nav > ul  {
        height: 300px;
        visibility: visible;
        opacity: 1;
    }
}



.presentacion {
  display: grid;
  place-items: center;
}

.presentacion .texto {
    font-size: clamp(5px, 1vw + 3rem, 100px);
    color: red;
    text-shadow: 
    -1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white,
    1px -1px 0 white;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 8px;
}

.presentacion > * {
  grid-area: 1 / 1; /* todos los hijos ocupan la misma área */
}

.presentacion img {
  width: 100%;
  height: 580px;
  object-fit: cover;
}

.presentacion .overlay {
  background: rgba(0, 0, 0, 0.4); /* puedes cambiar color y opacidad */
  z-index: 1;
}

.imagen-presentacion {
    width: 100%;
    height: 200px;
    grid-area: 1 / 1;
}

.container-text {
    grid-area: 1 / 1;
    font-size: 5rem;
    color: #0970b0;
}

.titulo-carousel {
    text-align: center;
    padding: 60px;
    font-size: 1.5rem;
    color: red;
    margin-bottom: -80px;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card {
    width: 325px;
    background-color: rgb(255, 159, 159);
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);

    
    display: flex;
    flex-direction: column; /* apila img y contenido */
    justify-content: space-between; /* asegura que el botón quede abajo */
}

.card > img {
    width: 100%;
    height: 220px;
}

.card-content {
    padding: 16px;
        display: flex;
    flex-direction: column;
    flex-grow: 1; /*hace que el contenido ocupe todo el espacio disponible */
}

.card-content > img {
    width: 100px;
    height: 100px;
}

.card-content > h3 {
    font-size: 20px;
}

.card-content > h2 {
    font-size: 40px;
    color: red;
    text-shadow: 
    -1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white,
    1px -1px 0 white;
}

.card-content > h1 {
    font-size: 20px;
}

.card-content > p {
    margin: 8px 0px;
    line-height: 1.3;
}

.card-content .btn {
    background: #ff0000;
    color: white;
    padding: 8px 16px;
    font-size: 15px;
    border: 1px solid white;
    border-radius: 8px;
    text-decoration: none;
        margin-top: auto; /* empuja el botón hacia el fondo */
    align-self: flex-start; /* evita que se estire */
}

.card-content > a:hover {
    background: #0070b6;
}

.imagenes_accesos {
    width: 90%;
    max-width: 2100px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    text-align: center;
}

.acceso {
    flex-direction: column; /* imagen arriba, texto abajo */
    background: rgb(255, 57, 57);
    border-radius: 12px;
    padding: 20px;
    transition: all 0.3s;
    text-decoration: none;
}

.acceso img {
    width: 100px;
    transition: all 0.3s;
}

.acceso h2 {
    font-size: 1.5rem;
    color: red;
    text-shadow: 
    -1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white,
    1px -1px 0 white;
}

.acceso:hover {
    transition: all 0.3s;
    transform: scale(1.05);
    cursor: pointer;
}

.acceso:hover > img {
    transform: scale(1.1);
    transition: all 0.3s;
}

footer {
    width: 100%;
    min-height: 100px;
    background: rgb(161, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.redes-sociales {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /*margin 10px 4px*/
    /*flex-wrap wrap*/
}

.icono > img {
    width: 80px;
    height: 80px;
    transition: all 0.3s;
}

.icono > img:hover {
    transform: scale(1.2);
    transition: all 0.3s;
}

.menu {
    display: flex;
    font-size: 1.5rem;
    list-style: none;
}

.menu-elem {
    margin: 10px 10px;
}

.menu-icon {
    color: #a5cff0;

}

.textoFooter {
    color: white;
    font-size: 1.2rem;
}